{
  "plugins": ["prettier", "import-helpers", "eslint-plugin-import-helpers"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "tsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "ignorePatterns": ["temp.js", "node_modules/"],
  "rules": {
    "prettier/prettier": "error",
    "indent": ["warn", 2],
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": ["/^react/", "module", ["parent", "sibling", "index"]],
        "alphabetize": { "order": "asc", "ignoreCase": true }
      }
    ]
  }
}
